/** master less styles **/

.infobox {
	.img_container {
		position: relative;

		img {
			opacity: 0.5;
		}
		.infotext {
			position: absolute;
			top: 30%;
			width: 100%;
			font-size: 14px;

			.inner {
				display: inline-block;
				background: rgba(255,255,255,0.8);
				padding: 5px 10px;
				min-width: 50%;
				max-width: 80%;
				border-radius: 3px;
			}
		}
	}

	.caption {
		padding: 0px 9px;
	}

	.wims-icon {
		font-size: 30px;
	}
}