/** master less styles **/

.infobox {
	.img_container {
		position: relative;

		img {
			opacity: 0.4;
		}
		.infotext {
			position: absolute;
			top: 45%;
			width: 100%;
		}
	}
	
	.caption {
		padding: 0px 9px;
	}
	
	.wims-icon {
		font-size: 30px;
	}
}